/* This file is for your main application css. */

.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute; 
    top: 287px;
    font-size: 17px; 
    margin: 3px
}

.form-group {
    position: absolute;
    margin-bottom: 25px;
}